<nav class="navbar fixed-top navbar-expand-sm navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand active" aria-current="page" href="index.html?lang={{$ctrl.currentLanguage}}"><img src="../../../Img/99b6bae1c911c35ecc1dce6f94d9fe5e(editado).png" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#divMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="divMenu" class="collapse navbar-collapse">
            <div class="navbar-right">
                <ul class="navbar-nav ms-auto" ng-repeat="item in $ctrl.menu">
                    <li class="nav-item {{item.children.length > 0 ? 'dropdown' : ''}}">
                        <a class="nav-link {{item.children.length > 0 ? 'dropdown-toggle' : ''}}" ng-click="$ctrl.menuAction(item.link, item.text);" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span ng-hide="item.text == '_currentLanguage'">{{item.translated_text}}</span>
                            <span ng-show="item.text == '_currentLanguage'">{{$ctrl.currentLanguage}}</span>
                        </a>
                        <ul class="dropdown-menu" ng-show="item.children.length > 0">
                            <li ng-repeat="child in item.children">
                                <a ng-show="child.text != 'acessOurAppToSignUp'" ng-click="$ctrl.menuAction(child.link, child.text);" class="dropdown-item">{{child.translated_text}}</a>
                                <div ng-show="child.text == 'acessOurAppToSignUp'" style="width:350px; padding: 0 20px;">
                                    <a style="display: block; border-bottom: 2px solid #ffffff; padding: 10px 0px 5px 0px; margin: 0px 15px;">{{child.translated_header}}</a>
                                    <a class="dropdown-item" style="white-space:normal;">{{child.translated_text}}</a>
                                    <div class="text-center">
                                        <img src="/download/LeeBank_QRCode_App.png" style="margin: 15px 0" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>