.footer {
    background-image: url(../image/background/Lee\ Trading\ -\ rodapé.png);
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
    font-size: 1.25rem;
    color: #ffffff;
    padding: 3rem 5rem 0.5rem 5rem;
}

.footer__contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
}

.footer__politics {
    display: flex;
}

.footer__link {
    color: #ffffff;
}

.footer__documents--terms {
    margin-right: 10rem;
}

@media screen and (min-width: 1366px) {
    .footer{
        margin-top: 5rem;
    }
}

@media screen and (min-width: 1920px) {
    .footer{
        margin-top: 15rem;
    }
}