.header {
    display: flex;
    background: linear-gradient(180deg, #431359 57.46%, rgba(146, 74, 181, 0) 99.45%);
    padding: 1rem;
    position:fixed;
    width:100%;
    mix-blend-mode: normal;
}

.header__logo{
    width: 15%;
}

.header__list {
    display: flex;
    list-style-type: none;
}

.header__item{
    margin-right: 2rem;
}

.header__link{
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration:none;
}
