@font-face {
    src: url(../fonts/ArdinaDisplay-Medium.otf);
    font-family: Ardina Text;
}

body {
    overflow-x: hidden !important;
}

.row {
    margin-right: 0;
    min-height: inherit;
}

p, h1, h2, h3, h4, ul, li, label, a {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    color: #ffffff;
    text-shadow: 2px 4px 5px #563596;
    text-decoration-line: none;
}

h1, h2, h3, h4 {
    font-weight: bold;
    line-height: 42px;
}

p {
    text-align: justify;
    line-height: 30px;
    margin-top: 30px;
    font-size: 21px;
}

img {
    max-width: 100%;
}

.navbar-brand img {
    width: 100%;
}

.navbar {
    background: linear-gradient(180deg, #563596 0%, rgba(86, 53, 150, 0) 132.21%);
}

    .navbar, .navbar .container-fluid {
        padding: 0;
    }

        .navbar .navbar-collapse {
            height: 5.6rem;
            align-items: initial;
            justify-content: end;
        }

        .navbar .navbar-nav {
            align-items: center;
            padding: 0 2.5rem;
        }

        .navbar .nav-link {
            color: #ffffff;
        }

.signUp {
    background-color: #7798be;
    padding: 0% 0%;
}

    .signUp span {
        color: #513278;
        font-weight: bold;
    }

.navbar .dropdown-menu {
    background-color: #373737;
    border-radius: 7px;
    left: auto;
    right: 0;
    padding: 10% 0px;
    margin-right: -6px;
    margin-top: 0.125rem;
    padding-top: 9px;
    border: none;
}

    .navbar .dropdown-menu:after {
        position: absolute;
        right: 0;
        margin-left: -20px;
        top: -11px;
        width: 0;
        height: 0;
        content: '';
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #373737;
    }

.dropdown-item {
    cursor: pointer;
    color: #ffffff;
    padding: 0.7rem 1.5rem;
}

    .dropdown-item:hover {
        color: #7FAAC3 !important;
        background-color: #0c0c0c !important;
    }

.sign-up {
    padding: 5% 10%;
    width: 430px;
}

    .sign-up img {
        width: 40%;
    }

.sign-up-title {
    display: block;
    border-bottom: 2px solid #7FAAC3;
    font-size: 1.5em;
}

.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}


.carrouselText {
    color: #ffffff
}

.text-position-left {
    padding-left: 112px;
    margin-top: 10%;
    margin-bottom: auto;
}

.text-position-right {
    padding-right: 112px;
    margin-top: auto;
    margin-bottom: auto;
}

.carousel-item {
    padding: 26rem 0;
}

.second-row {
    background-color: #000000;
}

    .second-row h1 {
        font-family: Ardina Text;
        font-size: 90px;
        font-family: serif;
        line-height: 90px;
    }

    .second-row p {
        font-size: 0.8rem;
        line-height: 20px;
        margin-top: 0px !important;
    }

    .second-row .qrcode {
        text-align: center;
    }

        .second-row .qrcode img {
            width: 60%;
        }

.col.img-market img {
    padding: 2%;
}

.second-row .img-download {
    min-height: 41vh;
    align-items: center;
    place-content: flex-end;
}

.second-row .second-row-text {
    padding-top: 4%;
}

button {
    border-radius: 5px !important;
    padding: 10px;
    color: #ffffff !important;
    background: linear-gradient(90.7deg, #5763fe 1.32%, #3838e2 24.45%, #5763fe 52.71%, #3838e2 73.79%, #5763fe 100%);
    border: none !important;
    box-shadow: 2px 2px 8px black !important;
    width: 175px;
    font-size: 20px !important;
    font-weight: bold;
}

    button:hover {
        background-color: #252bb3;
    }

.form {
    background-color: rgb(0,0,0, 0.6);
    border-radius: 15px;
    padding: 50px 25px 50px 50px;
}

.footer {
    padding: 20px 100px;
    background-color: #563596;
}

    .footer p {
        font-size: 15px;
        margin: auto;
        line-height: 30px;
    }

    .footer img {
        width: 7%;
        margin: 10px;
    }


.text-about p {
    font-size: 18px;
}

.form-exchange {
    padding: 0px 100px;
    margin-bottom: auto;
    margin-top: 4%;
}

    .form-exchange p {
        margin-top: 0px;
    }

    .form-exchange h3 {
        font-size: 24px;
    }

    .form-exchange form {
        background-color: rgb(0,0,0, 0.6);
        border-radius: 40px;
        padding: 30px 25px;
    }

    .form-exchange button {
        background-color: transparent !important;
        box-shadow: none !important;
        padding: 0;
        border-radius: 20px !important;
        width: 30%;
        margin: 0px 25px;
    }

        .form-exchange button:hover {
            background-color: #ffffff !important;
            color: #563596 !important;
        }

    .form-exchange nav.nav-tabs {
        padding-bottom: 15px;
        border: none;
    }

    .form-exchange div.nav-tabs {
        padding-bottom: 15px;
        width: 100%;
        justify-content: center;
    }

    .form-exchange .campo-direito {
        border-radius: 0 5px 5px 0;
        border: none;
    }

    .form-exchange .campo-esquerdo {
        padding: 3%;
        border-radius: 5px 0 0 5px;
        color: #373737;
        font-weight: bold;
        background-color: #563596;
        border: none;
        background-image: none;
    }

    .form-exchange p {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-shadow: none;
    }

    .form-exchange .border .form-select {
        width: 45%;
    }

    .form-exchange .border {
        display: flex;
        border: 2px solid #563596 !important;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: #563596;
    }

        .form-exchange .border img {
            padding: 0 0 0 15px;
            width: 64px;
        }

        .form-exchange .border .border-inside {
            display: flex;
            width: 345px;
            text-align: center;
            padding: 1%;
        }

    .form-exchange .send-button {
        margin: 30px 0 10px 0;
        background: linear-gradient(90.7deg, #81a8df 1.32%, #667bca 24.45%, #81a8df 52.71%, #667bca 73.79%, #81a8df 100%);
        width: 100%;
        border-radius: 15px !important;
        padding: 10px 0px;
    }

    .form-exchange .text-bottom {
        line-height: 25px;
        text-align: center;
        margin: 0;
        font-size: 18px;
    }

    .form-exchange .input-group {
        display: block;
    }

.bold-color {
    background: linear-gradient(89.38deg, #563596 0%, #7FAAC3 100%);
}

.button-page {
    padding: 7px 10px 7px 10px;
    width: 50%;
    margin-top: 50px;
}

.button-buy button {
    border-radius: 30px !important;
    width: auto;
    padding: 2% 2%;
    background-image: url(../img/button-buy.png);
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center;
    background-color: transparent !important;
    white-space: nowrap;
    color: #563596 !important;
}

.second-row .img-phone {
    display: none;
}

.second-row .img-desktop {
    display: flex;
}

.container-fluid.background-image {
    padding: 0px;
}

.footer .img-phone {
    display: none;
}

.pay-phone {
    display: none;
    padding-bottom: 25px;
}

.machine4 img {
    width: 85%;
}

.machine1 img {
    width: 45%;
}

.machine2 img {
    width: 65%
}

.machine3 img {
    width: 55%;
}

/*CSS Loader*/
.loader {
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
}

svg path,
svg rect {
    fill: #FFFFFF;
}

div.loader-wrapper {
    display: none;
}

body.loading {
    overflow: hidden !important;
}

    body.loading div.loader-wrapper {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(76, 53, 118, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
    }

body.firstLoad {
    background: #563596;
}

    body.firstLoad * {
        visibility: hidden;
    }

.img-download {
    padding-top: 7%;
}

.text-about {
    padding: 100px;
}

.payment-gateway-image .space {
    width: 47%;
}

.payment-gateway-image .text-position-right {
    width: 53%;
}

div.container-fluid:not(#divMenuContainer, div.footer), div.carousel-item, .row-space {
    min-height: 100vh !important;
}

.exchange-button {
    margin-top: 80px;
    margin-bottom: 10%;
    min-height: auto !important;
}

.exchange-button .col-3 {
    width: 25%;
}

.border h3, .border p {
    margin: 0;
}

.popup {
    visibility: hidden;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity 1s;
    width: 50%;
}

.open-popup {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s;
}

textarea#message {
    min-height: 20vh !important;
}

.popup .form-label {
    font-size: 1.2rem;
    text-shadow: none;
}

.popup .form-control {
    border-radius: initial;
}

.popup-header {
    background-color: #373737;
    border-radius: 25px;
    box-shadow: 5px 10px 8px #888888;
    align-items: center;
    width: 100%;
    margin: 0;
}

    .popup-header button {
        background-color: transparent !important;
        background: transparent !important;
        box-shadow: none !important;
        width: auto !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .popup-header h2 {
        font-size: 1.4rem !important;
        text-shadow: none;
        margin-bottom: 0;
        line-height: 30px !important;
    }

    .popup-header .col-10 {
        background-color: rgba(55, 55, 55, 0.9);
        border-radius: 0px 20px 0px 0px;
        padding: 1%;
    }

.popup-form .col-10 {
    background-color: rgba(55, 55, 55, 0.9);
    padding: 5%;
    border-radius: 0px 0px 20px 20px;
    min-height: 85vh;
}

.popup-form .btn {
    background: linear-gradient(90.7deg, #5763fe 1.32%, #3838e2 24.45%, #5763fe 52.71%, #3838e2 73.79%, #5763fe 100%);
    padding: 2% 0%;
}

.button-cambio {
    display: none;
}

.popup-btn {
    display: none;
    background: transparent;
}

.text-phone {
    display: none;
}

.to-value {
    display: flex;
    align-items: center;
}

    .to-value p {
        color: #000000;
        font-size: 1.2rem;
    }

input.form-control.campo-direito.campo {
    font-size: 1.2rem;
}

.round {
    border-radius: 100px !important;
}

.investments-image {
    background-image: url('../img/investments.jpg');
}

.exchange-legal-person-image {
    background-image: url('../img/exchange-legal-person.jpg');
}

.insurance-image {
    background-image: url('../img/insurance.jpg');
}

.ins-align {
    margin-bottom: 5%;
    display: flex;
    align-items: center;
}

.ins-align li, .ins-align ul {
    font-size: 18px;
    margin-bottom: 0;
}

.ins-align p{
    font-size: 16px;
    margin-top: 0;
}

.ins-pe {
    padding-left: 10px;
}

.ins-phone{
    display:none;
}

.back-nat {
    text-align: left;
}

/* celulares */
@media only screen and (max-width: 767px) {

    p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .navbar .navbar-brand img {
        width: 65%;
    }

    .navbar .navbar-collapse {
        height: auto;
        background-color: #373737;
    }

    .navbar .navbar-nav {
        align-items: baseline;
        padding: 0.5rem 1.5rem;
    }

    .navbar .navbar-toggler {
        background-color: transparent !important;
        box-shadow: none !important;
    }

    .navbar .navbar-nav:hover, .navbar .navbar-nav:focus, .navbar .dropdown-menu {
        background-color: #5F5F5F !important;
    }

        .navbar .dropdown-menu:after {
            display: none;
        }

    .text-position-right {
        padding-right: 0px !important;
        margin-top: auto;
        margin-bottom: auto;
    }

    .text-position-left, .col-md-6 {
        padding: 0px 25px 0px 25px !important;
    }

    .space-col {
        padding: 25px 5px 0px 0px !important;
    }

    .navbar button {
        width: 15%;
        background-color: #563596 !important;
        background: transparent;
    }

    .footer .float-end {
        float: none !important;
        padding-top: 15px;
    }

    .footer .col-md-6 {
        text-align: center;
    }

    .footer {
        padding: 15px;
    }

        .footer img {
            width: 12% !important;
        }

    .second-row .row-space {
        padding-top: 15px;
        padding-left: 10px;
    }

    .second-row .col-md-6 {
        padding: 10px !important;
    }

    .second-row h1 {
        font-size: 45px;
        line-height: 45px;
    }

    .second-row p {
        font-size: 15px;
        line-height: 20px;
        margin-top: 0px !important;
    }

    .second-row .img-phone {
        display: flex;
        align-items: center;
    }

    .second-row .img-desktop {
        display: none;
    }

    .second-row .img-text-download p {
        padding: 0px;
        margin: 0px;
        font-size: 10px;
        line-height: 14px;
    }

    .second-row .img-download {
        padding-top: 0 !important;
        min-height: 17vh !important;
        align-items: center;
        place-content: flex-end;
    }

        .second-row .img-download img {
            width: 100%;
            padding: 10px 0px 0 0 !important;
        }

    .card-text {
        z-index: 999;
    }

    .card-image img {
        width: 60%;
        position: absolute;
        margin-top: -50% !important;
        margin-left: 20% !important;
    }

    .exchange-button {
        margin-top: 0px;
    }
        .exchange-button .col-3 {
            width: 50%;
        }

        .exchange-button button {
            width: 120px;
            font-size: 14px !important;
        }

    .carousel-item {
        padding: 12rem 0;
    }

    .mobile-text {
        text-align: end;
        width: 85%;
        margin-left: 15%;
    }

        .mobile-text .back-to-homepage p {
            text-align: right !important;
        }

    .payment-gateway-image .text-position-right {
        width: 85%;
    }

    .button-page {
        width: 70%;
    }

    .button-buy button {
        width: 100%;
        white-space: initial;
        background-size: cover;
        font-size: 1rem !important;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }

        .wrapper .col-md-6:first-child {
            order: 1;
        }

    .row.text-about {
        padding: 0 !important;
    }

    #contact .row {
        padding: 0 !important;
    }

    .indexImageDiv1 {
        background-position: 57%;
    }

    .indexImageDiv2 {
        background-position: 57%;
    }

    .indexImageDiv3 {
        background-position: 57%;
    }

    .indexImageDiv4 {
        background-position: 20%;
    }

    .indexImageDiv5 {
        background-position: 60%;
    }

    .indexImageDiv6 {
        background-position: 45%;
    }

    .indexImageDiv7 {
        background-position: 76%;
    }

    .payment-gateway-image {
        background-position: 24%;
    }

    .insurance-image {
        background-position: 64%;
    }

    .exchange-natural-person-image {
        background-position: 40%;
    }

    .exchange-legal-person-image {
        background-position: 22%;
    }

    .investments-image {
        background-image: url('../img/investments-mobile.jpg');
    }

    .space {
        display: none;
    }

    .text-end {
        text-align: center !important;
    }

    div.container-fluid:not(#divMenuContainer, div.footer, div.sub-pages), div.carousel-item, .row-space {
        min-height: 50vh !important;
    }

    div.animation {
        min-height: 100vh !important;
    }

    div.sub-pages, div.sub-pages .row-space {
        min-height: 85vh !important;
    }

    .exchange-button {
        margin-top: 0px;
        margin-bottom: 10%;
        min-height: auto !important;
    }

    .mobile-text .back-to-homepage p {
        text-align: right !important;
    }

    .form-help-box {
        padding: 0% !important;
    }

    .form-help-text {
        padding: 7% !important;
    }

    .footer .img-phone {
        display: flex;
        justify-content: space-around;
    }

    .footer .img-desktop {
        display: none;
    }

    .footer .float-end p, a .float-end {
        font-size: 16px;
        margin: auto;
        line-height: 30px;
        white-space: nowrap;
    }

    .footer .img-link {
        width: 55px !important;
    }

    .form-exchange .border .border-inside {
        display: flex;
        width: 270px;
        text-align: center;
        padding: 1%;
    }

    .pay-desktop {
        display: none;
    }

    .pay-phone {
        display: initial;
    }

    .machine4 img {
        width: 85%;
    }

    .machine1 img {
        width: 90%;
    }

    .machine1 {
        order: 2;
    }

    .machine2 img {
        width: 100%
    }

    .machine2 {
        order: -1;
    }

    .machine3 img {
        width: 100%;
    }

    .machine3 {
        order: 2;
    }

    .machine3text {
        order: 1;
    }

    .pay-home {
        order: 3;
    }

    .popup {
        width: 100%;
    }


        .popup .form-control {
            line-height: 0.5;
        }

        .popup .form-label {
            font-size: 0.8rem;
        }

        .popup .col-10 {
            width: 100%
        }

    .popup-header {
        background-color: transparent;
    }

        .popup-header img {
            width: 100% !important;
        }

        .popup-header .col-10 {
            border-radius: 25px;
            background-color: #373737;
            z-index: 999;
        }

        .popup-header h2 {
            font-size: 1rem !important;
            margin-bottom: 0;
            padding: 3%;
            line-height: 5px !important;
        }

    .popup-form {
        margin: 0;
        margin-top: -20px;
    }

        .popup-form .form-control {
            font-size: 0.8rem;
        }

        .popup-form .col-10 {
            min-height: initial;
            padding: 10% 5%;
        }

        .popup-form .col-md-6 {
            padding: 3% !important;
        }

    .divisao {
        display: flex;
        justify-content: space-between;
    }

        .divisao .mb-3 {
            width: 48%;
        }

    .button-cambio {
        display: initial;
    }

    .popup-exchange {
        visibility: hidden;
        position: absolute;
        right: 0;
        opacity: 0;
        transition: opacity 1s;
        width: 100%;
    }

    .open-popup {
        visibility: visible;
        opacity: 1;
        transition: opacity 1s;
    }

    .popup-exchange .popup-btn {
        margin: 0 !important;
        width: 14%;
    }

        .popup-exchange .popup-btn img {
            width: 100% !important;
        }

    .popup-btn {
        display: initial;
    }

    .text-phone {
        display: initial;
    }

        .text-phone-p {
            text-align: left
        }

    .text-desktop {
        display: none;
    }

    .ins-phone{
        display: flex;
    }
    .ins-p {
        padding: 2%;
    }

    .exchange-natural-person-image .col-md-6.text-position-left{
        width: 90%;
    }

    .exchange-natural-person-image .row.row-space {
        justify-content: end;
        text-align: right;
    }
    .back-nat{
        text-align:right;
    }

}

/* Tablet */ 
@media only screen and (min-width: 768px) and (max-width: 991px) {


    p {
        font-size: 28px;
        line-height: 45px;
        padding-top: inherit;
    }

    h2 {
        font-weight: bold !important;
        line-height: 65px !important;
        font-size: 54px !important;
    }

    .navbar .navbar-brand img {
        width: 65%;
    }

    .navbar .navbar-collapse {
        height: auto;
        background-color: #373737;
    }

    .navbar .navbar-nav {
        align-items: baseline;
        padding: 0.5rem 1.5rem;
    }

    .navbar .navbar-toggler {
        background-color: transparent !important;
        box-shadow: none !important;
    }

    .navbar .navbar-nav:hover, .navbar .navbar-nav:focus, .navbar .dropdown-menu {
        background-color: #5F5F5F !important;
    }

        .navbar .dropdown-menu:after {
            display: none;
        }


    .text-position-right {
        padding-right: 0px !important;
        margin-top: auto;
        margin-bottom: auto;
        min-width: 65%;
    }

    .text-position-left, .col-md-6 {
        padding: 0px 25px 0px 25px !important;
        width: 100%;
    }

    .space-col {
        padding: 25px 5px 0px 0px !important;
    }


    .text-position-left {
        min-width: 55%;
        max-width: 70%;
    }

    .navbar button {
        width: 15%;
        background-color: #563596 !important;
        background: transparent;
    }

    .second-row .row-space {
        padding-top: 15px;
        padding-left: 10px;
    }

    .second-row .col-md-6 {
        padding: 10px !important;
        width: 100%
    }

    .second-row .second-row-text, .second-row .img-phone {
        padding-top: 10%;
    }

    .second-row h1 {
        font-size: 5.5rem;
        line-height: 76px;
    }

    .second-row p {
        font-size: 25px;
        line-height: 35px;
        margin-top: 0px !important;
    }

    .second-row .img-phone {
        display: flex;
        align-items: center;
    }

    .second-row .img-desktop {
        display: none;
    }

    .second-row .img-text-download p {
        padding: 0px;
        margin: 0px;
        font-size: 18px;
        line-height: 22px;
    }

    .second-row .img-download {
        padding-top: 0 !important;
        min-height: 24vh;
        align-items: center;
        place-content: flex-end;
    }

        .second-row .img-download img {
            padding: 10px 0px 0 0 !important;
        }

    .card-image {
        width: 100%;
    }

        .card-image img {
            width: 80%;
        }

    .card-text{
        max-width: 80%;
    }


    .exchange-button {
        margin-top: 80px;
        margin-bottom: 160px;
        min-height: auto;
    }

    .exchange-button button {
            width: 245px;
            font-size: 30px !important;
    }

    .row.exchange-button.text-position-left.align-middle {
        max-width: inherit;
        min-width: auto;
    }

    .carousel-item {
        padding: 24rem 0;
    }

    .form-help-box {
        padding: 0% !important;
    }

    .form-help-text {
        padding: 7% !important;
    }

    .mobile-text {
        text-align: left;
        width: 75%;
        margin-left: 0%;
        padding-left: 5% !important;
    }

        .mobile-text .back-to-homepage p {
            text-align: left !important;
        }

    .payment-gateway-image .text-position-right {
        width: 85%;
    }

    .button-page {
        width: 70%;
    }

    .button-buy button {
        width: 60%;
        white-space: initial;
        background-size: cover;
        font-size: 1.5rem !important;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }

        .wrapper .col-md-6:first-child {
            order: 1;
            padding: 0px 25px 0px 25px !important;
            width: 100% !important;
        }

    .row.text-about {
        padding: 0 !important;
    }

    #contact .row {
        padding: 0 !important;
    }

    .indexImageDiv1 {
        background-position: 62%;
    }

    .indexImageDiv2 {
        background-position: 57%;
    }

    .indexImageDiv3 {
        background-position: 57%;
    }

    .indexImageDiv4 {
        background-position: 20%;
    }

    .indexImageDiv5 {
        background-position: 60%;
    }

    .indexImageDiv6 {
        background-position: 45%;
    }

    .indexImageDiv7 {
        background-position: 76%;
    }

    .payment-gateway-image {
        background-position: 24%;
    }

    .insurance-image {
        background-image: url('../img/insurance-tablet.jpg');
        background-position: 30%;
    }

    .exchange-natural-person-image {
        background-position: 40%;
    }

    .exchange-legal-person-image {
        background-image: url('../img/exchange-legal-person-tablet.jpg');
        background-position: 70%;
    }

    .space {
        display: none;
    }

    .text-end {
        text-align: center !important;
    }

    div.container-fluid:not(#divMenuContainer, div.footer, div.sub-pages), div.carousel-item, .row-space {
        min-height: 80vh !important;
    }

    div.animation {
        min-height: 100vh !important;
    }

    div.sub-pages, div.sub-pages .row-space {
        min-height: 85vh !important;
    }

    .indexImageDiv9 h2 {
        font-size: 2.5rem;
    }

    .form-exchange {
        width: 100%;
        padding-bottom: 10%;
    }

    .footer .float-end {
        float: none !important;
        padding-top: 15px;
    }

    .footer .col-md-6 {
        text-align: center;
    }

    .footer {
        padding: 15px;
    }

        .footer img {
            width: 12% !important;
        }

        .footer .img-link {
            width: 110px !important;
        }

        .footer .img-phone {
            display: flex;
            justify-content: space-around;
        }

        .footer .img-desktop {
            display: none;
        }

        .footer .float-end p, a .float-end {
            font-size: 28px;
            margin: auto;
            line-height: 55px;
            white-space: nowrap;
        }

        .footer .text-end {
            font-size: 30px;
            line-height: 45px;
            padding-top: 22px;
        }


    .pay-desktop {
        display: none;
    }

    .pay-phone {
        display: initial;
        padding-left: 50px;
    }

    .machine4 img {
        width: 70%;
    }

    .machine1 img {
        width: 100%;
    }

    .machine1 {
        order: 2;
        width: 35%;
    }

    .machine2 img {
        width: 100%
    }

    .machine2 {
        order: -1;
        width: 35%;
    }

    .machine3 img {
        width: 100%;
    }

    .machine3 {
        order: 2;
    }

    .machine3text {
        order: 1;
    }

    .pay-home {
        order: 3;
    }

    .leepay-tablet p {
        font-size: 30px;
        line-height: 45px;
        padding-top: inherit;
    }

    .leepay-tablet h2 {
        font-weight: bold !important;
        line-height: 65px !important;
        font-size: 49px !important;
    }

    .leepay-tablet .col-md-11 {
        width: 52% !important;
        margin-top: 20%;
    }


    .leepay-know {
        width: 46%;
    }

    .row, leepay {
        padding: 25px;
    }

    .popup {
        width: 100%;
    }

        .popup .popup-form, .popup .popup-header {
            padding: 0 !important;
        }

        .popup .form-control {
            line-height: 2;
        }

        .popup .form-label {
            font-size: 1.4rem;
        }

        .popup .col-10 {
            width: 100%
        }

    .popup-header {
        background-color: transparent;
    }

        .popup-header .col-10 {
            border-radius: 25px;
            background-color: #373737;
            z-index: 999;
        }

        .popup-header h2 {
            font-size: 2.5rem !important;
            margin-bottom: 0;
            padding: 1%;
            line-height: 40px !important;
        }

    .popup-form {
        margin: 0;
        margin-top: -20px;
    }

        .popup-form .col-10 {
            min-height: 66vh;
        }

    .divisao {
        display: flex;
        justify-content: space-between;
    }

        .divisao .mb-3 {
            width: 48%;
        }

    .button-cambio {
        display: initial;
    }

    .popup-exchange {
        visibility: hidden;
        position: absolute;
        right: 0;
        opacity: 0;
        transition: opacity 1s;
        width: 100%;
    }

    .open-popup {
        visibility: visible;
        opacity: 1;
        transition: opacity 1s;
    }

    .popup-exchange .popup-btn {
        margin: 0 !important;
        width: 12%;
    }

        .popup-exchange .popup-btn img {
            width: 100% !important;
        }

    .popup-btn {
        display: initial;
    }

    .text-phone {
        display: initial;
    }

        .text-phone-p {
            text-align: left
        }

    .text-desktop {
        display: none;
    }

    .ins-align li, .ins-align ul {
        font-size: 35px;
        margin-bottom: 0;
    }

    .ins-align p {
        font-size: 30px;
        margin-top: 0;
    }

    .ins-p {
        padding: 2%;
    }


    .ins-phone {
        display: flex;
    }
}


/* landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* desktop */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .second-row .qrcode {
        width: 80% !important;
    }

    .card-image img {
        width: 70%;
        margin-top: 30%;
    }
}

/* large desktop */
@media only screen and (min-device-width: 1400px) {

    p, .text-about p {
        font-size: 23px;
        line-height: 45px;
    }

    h2 {
        font-size: 45px;
        line-height: 60px;
    }

    a, li {
        font-size: 20px;
    }

    h1 {
        font-size: 70px;
        line-height: 90px;
    }

    h3 {
        font-size: 35px;
    }

    .second-row h1 {
        font-size: 120px;
        line-height: 120px;
    }

    .second-row p {
        font-size: 1.4rem;
        line-height: 30px;
    }

    .second-row .qrcode {
        width: 80% !important;
    }

    button {
        font-size: 25px !important;
        width: 80%;
    }

    .footer p {
        font-size: 18px;
    }

    .form input, .form textarea {
        font-size: 20px;
    }

    .form h3 {
        font-size: 45px;
    }

    .form label {
        font-size: 20px;
        margin-top: 20px;
    }

    .form textarea {
        height: 270px !important;
    }

    .indexImageDiv9 .row {
        padding: 81px 0 81px 0 !important;
    }

    .form {
        padding: 35px 35px 35px 50px;
    }

        .form button {
            margin-top: 15px;
        }

    .text-about {
        padding: 170px 100px !important;
    }

    embed {
        width: 20%;
    }

    .indexImageDiv6 .col-md-5 {
        width: 39.666667%;
    }

    .indexImageDiv8 .col-md-5 {
        width: 44.666667%;
    }

    .exchange-legal-person-image .text-position-right {
        padding-right: 16%;
    }

        .exchange-legal-person-image .text-position-right .button-page {
            width: 62%;
        }

    .insurance-image .col-md-6 {
        width: 47%;
    }

    .payment-gateway-image .space {
        width: 60%;
    }

    .payment-gateway-image .text-position-right {
        width: 40%;
    }

    .cash-image .text-position-left {
        padding-left: 191px;
    }

    .exchange-natural-person-image .col-md-6 {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .card-image img {
        width: 70%;
        margin-top: 30%;
    }

    .popup-header h2 {
        font-size: 2rem;
        line-height: 35px;
    }

    .popup .form-label {
        font-size: 1.4rem;
    }

    .popup .form-control {
        line-height: 2.5;
    }

    .popup-form .col-10 {
        min-height: 80vh;
    }
}
