<div class="container-fluid footer">
    <div class="row" style="border-bottom: 1px solid #ffffff; padding-bottom: 15px;">
        <div class="col-md float-end">
            <br />
            <p>
                {{$ctrl.dictionary.telephone}}:
                <img src="img/whatsapp-icon.png" style="width:6%;" />
                <img src="img/chat-icon.png" />
            </p>
            <p>{{$ctrl.dictionary.companyEmail}}: contato@leebank.com.br</p>
        </div>
        <div class="col-md-6 img-phone">
            <a href="https://www.linkedin.com/company/leebank/about/" target="_blank">
                <img src="img/linkedin-icon.png" />
            </a>
            <a href="https://www.instagram.com/_leebank/" target="_blank">
                <img src="img/instagram-icon.png" />
            </a>
        </div>
        <div class="col">
            <div class="float-end">
                <a href="index.html#our-future"><p>{{$ctrl.dictionary.aboutUs}}</p></a>
                <a href="/download/LeeBank_Termos_de_Uso_de_Consetimentos_de_Dados.pdf" target="_blank"><p>{{$ctrl.dictionary.terms}}</p></a>
            </div>
        </div>
        <div class="col">
            <div class="float-end">
                <a href="/download/LeeBank_Politicas_de_Privacidade.pdf" target="_blank"><p>{{$ctrl.dictionary.policies}}</p></a>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeHExwT4J6TyN6a2raz__NCIMMgXeyomkkhDeiOmPgKv0tCOQ/viewform" target="_blank"><p>{{$ctrl.dictionary.report}}</p></a>
            </div>
        </div>
    </div>
    <div class="row text-end">
        <div class="col-md-6 img-desktop">
            <a href="https://www.linkedin.com/company/leebank/about/" target="_blank">
                <img src="img/linkedin-icon.png" />
            </a>
            <a href="https://www.instagram.com/_leebank/" target="_blank">
                <img src="img/instagram-icon.png" />
            </a>
        </div>
        <div class="col-md-6" style="text-align:right;">
            <p class="text-end">{{$ctrl.dictionary.righsReserved}}</p>
        </div>
    </div>
</div>
<div class="loader-wrapper">
    <div class="loader loader--style8" title="7">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
        <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite" />
        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
          </rect>
        <rect x="8" y="10" width="4" height="10" fill="#333" opacity="0.2">
        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
          </rect>
        <rect x="16" y="10" width="4" height="10" fill="#333" opacity="0.2">
        <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
        <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
        <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
          </rect>
        </svg>
    </div>
</div>