<!--Menu desktop-->

<nav class="navbar fixed-top navbar-expand-lg menu-desktop">
    <div class="container-fluid" id="divMenuContainer">
        <a class="navbar-brand active" aria-current="page" href="index.html?lang={{$ctrl.currentLanguage}}"><img src="img/logo.svg" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#divMenu">
            <img src="img/menu-icon.png" />
        </button>
        <div id="divMenu" class="collapse navbar-collapse">
            <ul class="navbar-nav  {{item.text}}" ng-repeat="item in $ctrl.menu">
                <li class="nav-item {{item.children.length > 0 ? 'dropdown' : ''}}">
                    <a class="nav-link {{item.children.length > 0 ? 'dropdown-toggle' : ''}}" ng-click="$ctrl.menuAction(item.link, item.text);" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span ng-hide="item.text == '_currentLanguage'">{{item.translated_text}}</span>
                        <div style="display: inline-flex;" ng-show="item.text == '_currentLanguage'">
                            <img src="../../../img/world.svg" />
                        </div>
                        <span ng-show="item.text == '_currentLanguage'">{{$ctrl.currentLanguage == "ZH" ? "CN" : $ctrl.currentLanguage}}</span>
                    </a>
                    <ul class="dropdown-menu" ng-show="item.children.length > 0">
                        <li ng-repeat="child in item.children">
                            <a ng-show="child.text != 'acessOurAppToSignUp'" ng-click="$ctrl.menuAction(child.link, child.text);" class="dropdown-item">{{child.translated_text}}</a>
                            <div class="sign-up" ng-show="child.text == 'acessOurAppToSignUp'">
                                <a class="sign-up-title">{{child.translated_header}}</a>
                                <a class="sign-up-text">{{child.translated_text}}</a>
                                <div class="text-center">
                                    <img src="/img/LeeBank_QRCode_App.png" />
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--Menu mobile/tablet-->
<nav class="navbar fixed-top navbar-expand-lg menu-mobile">
    <div class="container-fluid" id="divMenuContainer">

        <a class="navbar-brand active" aria-current="page" href="index.html?lang={{$ctrl.currentLanguage}}"><img src="img/logo.svg" /></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#divMenu" id="btnMenuMobile">
            <img src="img/menu-icon.png" />
        </button>


        <div id="divMenu" class="collapse navbar-collapse">

            <!-- menu do cadastre-se -->
            <ul class="navbar-nav  {{item.text}}" ng-repeat="item in $ctrl.menu | filter:{ text: 'signUp' }">
                <li class="nav-item">
                    <a class="nav-link" onclick="openSignMenuPopup();" role="button">
                        <span>{{item.translated_text}}</span>
                    </a>
                </li>
            </ul>

            <!-- menu dos outros -->
            <ul class="navbar-nav  {{item.text}}" ng-repeat="item in $ctrl.menu | filter:{ text: '!signUp' }">
                <li class="nav-item {{item.children.length > 0 ? 'dropdown' : ''}}">
                    <a class="nav-link {{item.children.length > 0 ? 'dropdown-toggle' : ''}}" ng-click="$ctrl.menuAction(item.link, item.text);" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div style="display: inline-flex;" ng-show="item.text == '_currentLanguage'">
                            <img src="../../../img/world.svg" />
                        </div>
                        <span ng-hide="item.text == '_currentLanguage'">{{item.translated_text}}</span>
                        <span ng-show="item.text == '_currentLanguage'">{{$ctrl.currentLanguage == "ZH" ? "CN" : $ctrl.currentLanguage}}</span>
                    </a>

                    <!-- Submenu para produtos  -->
                    <div class="dropdown-menu" ng-if="item.text == 'products'">

                        <div class="products-menu products-menu-left" ng-show="item.children.length > 0">
                            <div ng-repeat="child in item.children">
                                <a ng-class="child.text" ng-if="$index < (item.children.length / 2)" ng-click="$ctrl.menuAction(child.link, child.text);" class="dropdown-item">{{child.text == 'leePayCardMachine' ? 'Lee Pay' : child.translated_text}}</a>
                            </div>
                        </div>

                        <div class="products-menu products-menu-right" ng-show="item.children.length > 0">
                            <div ng-repeat="child in item.children">
                                <a ng-if="$index >= (item.children.length / 2)" ng-click="$ctrl.menuAction(child.link, child.text);" class="dropdown-item">{{child.translated_text}}</a>
                            </div>
                        </div>

                    </div>
                    <!-- demais submenus  -->
                    <ul class="dropdown-menu" ng-if="item.text != 'products'" ng-show="item.children.length > 0">
                        <li ng-repeat="child in item.children">
                            <a ng-click="$ctrl.menuAction(child.link, child.text);" class="dropdown-item" aria-selected="false"> {{child.translated_text}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="popup popup-behind" id="behindMenuSign" onclick="closeSignMenuPopup();">
    <div class="sign-up popup-sign" id="popupMenuSign" onclick="closeSignMenuPopup();">
        <p class="sign-up-title">{{$ctrl.dictionary.signUpForLeeBank}}</p>
        <p class="sign-up-text">{{$ctrl.dictionary.acessOurAppToSignUp}}</p>
        <div class="text-center">
            <img src="/img/LeeBank_QRCode_App.png" />
        </div>
    </div>
</div>