<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="WeFirst">

    <link href="plugin/bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="plugin/jquery/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="plugin/angularjs/angular.min.js"></script>

    <link href="css/index.css" rel="stylesheet" />
    <script src="js/app/app.js"></script>
    <script src="js/app/dictionary.js"></script>
    <script src="js/app/doubts.js"></script>
    <script src="js/app/menu.js"></script>

    <script src="js/component/menu.js"></script>
    <script src="js/component/footer.js"></script>

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            setInterval(function () {
                $("div.container-fluid:not(#divMenuContainer, div.footer), div.carousel-item").css("min-height", window.innerHeight + "px");
                $("div.container-fluid:not(#divMenuContainer, div.footer), div.carousel-item").css("max-width", window.innerWidth + "px");
            }, 500);
        });
    </script>

</head>

<body ng-app="leebank">

    <menu-component></menu-component>

    <div ng-controller="BodyController">

        <div class="container-fluid background-image index-div-1" style="background-image: url(img/indexDiv1.png);">
            <div class="row">
                <div class="col-md-6 text-position-left">
                    <h1>{{dictionary.vixiGuiding}} <br /> {{dictionary.vixiFuture}}</h1>
                    <hr />
                    <p>
                        {{dictionary.vixiInspire}}
                    </p>
                </div>
            </div>
        </div>

        <div class="container-fluid background-image index-div-2" style="">
            <div class="row">
                <div class="col-md-6 text-position-left align-middle">
                    <h1>{{dictionary.vixiExhange}}</h1>
                    <hr />
                    <p>{{dictionary.vixiSynonym}}</p>
                    <p>{{dictionary.vixiClient}}</p>
                </div>
                <div class="col-md-6 d-flex align-items-center display-none-cel">
                    <img class="mx-auto d-block" src="img/indexDiv2.png" />
                </div>
            </div>
        </div>

        <div class="container-fluid background-image index-div-3" style="background-image: url(img/indexDiv3.png); background-position: 0% 0%; background-size: contain; ">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 text-position-right" style="padding-top: 30%;">
                    <h1>{{dictionary.vixiOtc}}</h1>
                    <hr />
                    <p>{{dictionary.vixiDesk}}</p>
                    <p>{{dictionary.vixiProblems}}:</p>
                    <p>
                        <b>{{dictionary.vixiSlippage}}</b><br />
                        {{dictionary.vixiDIfference}}
                    </p>
                    <p>
                        <b>{{dictionary.vixiLimits}}</b><br />
                        {{dictionary.vixiExchange}}
                    </p>
                    <a href="otc.html"><p><b><u>{{dictionary.vixiKnow}}   ></u></b></p></a>
                </div>
            </div>
        </div>

        <div id="exchange" class="container-fluid background-image index-div-4" style="">
            <div class="row">
                <div class="col-md-6 text-position-left align-middle">
                    <h1>{{dictionary.vixiCompliance}}<br />{{dictionary.vixiSecurity}}</h1>
                    <hr />
                    <p>
                        {{dictionary.vixiRelation}}
                    </p>
                    <p>
                        {{dictionary.vixiPolicy}}
                    </p>
                    <a href="#"><p><b><u>{{dictionary.vixiKnow}}   ></u></b></p></a>
                </div>
                <div class="col-md-6 d-flex align-items-center display-none-cel">
                    <img class="mx-auto d-block" src="img/indexDiv4.png" />
                </div>
            </div>
        </div>

        <div id="contact" class="container-fluid index-div-5" style="">
            <div class="row" style="padding: 50px 0 50px 0;">
                <div class="col-md-12 form-index">
                    <div class="row">
                        <div class="col-md-6 text-position-left align-middle">
                            <h1>{{dictionary.vixiSign}}</h1>
                            <hr />
                        </div>
                    </div>
                    <form>
                        <p>{{dictionary.vixiFill}} <br /> {{dictionary.vixiSolicitation}}</p>
                        <hr class="display-none-cel"/>
                        <div class="mb-3">
                            <label for="nome" class="form-label">{{dictionary.vixiName}}:</label>
                            <input type="text" class="form-control" id="nome" placeholder="Nome Completo" ng-model="doubts.SenderName">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">{{dictionary.vixiEmail}}:</label>
                            <input type="text" class="form-control" id="email" placeholder="E-mail" ng-model="doubts.SenderEMail">
                        </div>
                        <div class="mb-3">
                            <label for="cellphone" class="form-label">{{dictionary.vixiTelephone}}:</label>
                            <input type="text" class="form-control" id="cellphone" placeholder="Telefone" ng-model="doubts.SenderEMail">
                        </div>
                        <div class="row g-3">
                            <div class="col-md-6 mb-3">
                                <label for="cpf" class="form-label">{{dictionary.vixiCpf}}:</label>
                                <input type="text" class="form-control" id="cpf" placeholder="XXX.XXX.XXX/XX" ng-model="doubts.SenderEMail">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cnpj" class="form-label">{{dictionary.vixiCnpj}}:</label>
                                <input type="text" class="form-control" id="cnpj" placeholder="XX.XXX.XXX/XXXX-XX" ng-model="doubts.SenderEMail">
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="button" ng-click="sendDoubts();">{{dictionary.vixiSolicitationButton}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer-component></footer-component>

    <script src="js/controller/body.js"></script>
    <script src="plugin/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>