<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="WeFirst">

    <link href="plugin/bootstrap-5.1.3-dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="plugin/jquery/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="plugin/angularjs/angular.min.js"></script>

    <link href="css/index.css" rel="stylesheet" />
    <script src="js/app/app.js"></script>
    <script src="js/app/dictionary.js"></script>
    <script src="js/app/doubts.js"></script>
    <script src="js/app/menu.js"></script>

    <script src="js/component/menu.js"></script>
    <script src="js/component/footer.js"></script>

    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            setInterval(function () {
                $("div.container-fluid:not(#divMenuContainer, div.footer), div.carousel-item").css("min-height", window.innerHeight + "px");
                $("div.container-fluid:not(#divMenuContainer, div.footer), div.carousel-item").css("max-width", window.innerWidth + "px");
            }, 500);
        });
    </script>

</head>

<body ng-app="leebank">

    <menu-component></menu-component>

    <div ng-controller="BodyController">

        <div class="container-fluid background-image" style="background-image: url(img/indexDiv1.png);">
            <div class="row">
                <div class="col-md-6 text-position-left">
                    <h1>Guiando você <br /> para o seu futuro</h1>
                    <hr />
                    <p>
                        Viemos para inspirar as pessoas a irem mais longe, alcançarem seus sonhos, através de uma parceria de confiança
                        que cresce a cada dia.
                    </p>
                </div>
            </div>
        </div>

        <div class="container-fluid" style="">
            <div class="row">
                <div class="col-md-6 text-position-left align-middle">
                    <h1>VIXI Exchange</h1>
                    <hr />
                    <p>Somos o sinônimo de competência, confiança e acessibilidade.</p>
                    <p>Queremos que nossos clientes tenham a sensação exata de que podem contar conosco e que nosso produto atenda suas expectaivas e necessidades. </p>
                </div>
                <div class="col-md-6 d-flex  align-items-center">
                    <img class="mx-auto d-block" src="img/indexDiv2.png" />
                </div>
            </div>
        </div>

        <div class="container-fluid background-image" style="background-image: url(img/indexDiv3.png); background-position: 0% 0%; background-size: contain; ">
            <div class="row">
                <div class="col-md-6 space"></div>
                <div class="col-md-6 text-position-right" style="padding-top: 30%;">
                    <h1>OTC</h1>
                    <hr />
                    <p>A mesa de OTC da VIXI tem uma oferta de liquidez que garante ao cliente institucional a quantia desejada de Bitcoin, Ethereum, Decred, Stablecoins e outros ativos digitais.</p>
                    <p>Principais problemas resolvidos pela mesa de OTC da VIXI:</p>
                    <p>
                        <b>Slippage</b><br />
                        A diferença de tempo entre a hora do pedido e sua liquidação incorre muitas vezes em uma diferença do preço inicial devido ao tamanho da ordem.
                    </p>
                    <p>
                        <b>Limites de negociação</b><br />
                        É comum que as grandes exchanges imponham limites de trading e negociação diários para manter a sua liquidez. Para clientes que operam com alto volume essa prática é inadequada.
                    </p>
                    <a href="otc.html"><p><b><u>Saiba mais   ></u></b></p></a>
                </div>
            </div>
        </div>

        <div id="exchange" class="container-fluid background-image" style="">
            <div class="row">
                <div class="col-md-6 text-position-left align-middle">
                    <h1>Compliance<br />Segurança</h1>
                    <hr />
                    <p>
                        Prezamos por uma relação de confiança e transparência com nossos clientes. Por conta disso, a segurança dos dados e a privacidade dos nossos usuários é de extrema importância para nós.
                    </p>
                    <p>
                        Nossa política de Compliance segue todas as normas da LGPD, além de oferecer sigilo absoluto sobre você e suas moedas. Também contamos com uma equipe de segurança digital altamente capacitada.
                    </p>
                    <a href="#"><p><b><u>Saiba mais   ></u></b></p></a>
                </div>
                <div class="col-md-6 d-flex  align-items-center">
                    <img class="mx-auto d-block" src="img/indexDiv4.png" />
                </div>
            </div>
        </div>

        <div id="contact" class="container-fluid background-image" style="">
            <div class="row" style="padding: 50px 0 50px 0;">
                <div class="col-md-12 form-index">
                    <div class="row">
                        <div class="col-md-6 text-position-left align-middle">
                            <h1>Cadastre-se</h1>
                            <hr />
                        </div>
                    </div>
                    <form>
                        <p>Peencha os campos abaixo para <br /> a solicitação do cadastro</p>
                        <hr />
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome Completo:</label>
                            <input type="text" class="form-control" id="nome" placeholder="Nome Completo" ng-model="doubts.SenderName">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail:</label>
                            <input type="text" class="form-control" id="email" placeholder="E-mail" ng-model="doubts.SenderEMail">
                        </div>
                        <div class="mb-3">
                            <label for="cellphone" class="form-label">Telefone:</label>
                            <input type="text" class="form-control" id="cellphone" placeholder="Telefone" ng-model="doubts.SenderEMail">
                        </div>
                        <div class="row g-3">
                            <div class="col-md-6 mb-3">
                                <label for="cpf" class="form-label">CPF:</label>
                                <input type="text" class="form-control" id="cpf" placeholder="XXX.XXX.XXX/XX" ng-model="doubts.SenderEMail">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cnpj" class="form-label">CNPJ:</label>
                                <input type="text" class="form-control" id="cnpj" placeholder="XX.XXX.XXX/XXXX-XX" ng-model="doubts.SenderEMail">
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="button" ng-click="sendDoubts();">Solicitar Cadastro</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer-component></footer-component>

    <script src="js/controller/body.js"></script>
    <script src="plugin/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>