@font-face {
    src: url(../fonts/Montserrat.woff);
    font-family: Montserrat;
}

@font-face {
    src: url(../fonts/Montserrat-Bold.woff);
    font-family: MontserratBold;
}

.background-image-body {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image-body {
    background-image: url(../image/flushBackground.jpg);
    height: 100vh;
}


b {
    font-family: 'MontserratBold';
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.5rem;
    text-align: justify;
    color: #FFFFFF;
}

h2 {
    font-family: 'MontserratBold';
    font-style: normal;
    text-align: justify;
    color: #FFFFFF;
    font-weight: 100
}

.logo {
    width: 40%;
}

.container-body {
    height: 75vh;
}

    .container-body .col-12 {
        margin-top: -20rem;
    }


.container-footer {
    height: 25vh;
}

    .container-footer .col-12 {
        padding-top: 7.5rem;
        padding-left: 4rem;
    }

        .container-footer .col-12 p {
            display: inline
        }

        .container-footer .col-12 .email {
            padding-left: 1.5rem;
        }

.gradient-black {
    background-image: linear-gradient(180deg, black, transparent);
    height: 30rem;
}

.gradient-blue {
    background-image: linear-gradient(0deg, #242e85bf, #242e8503);
}


/* mobile */
@media only screen and (max-width: 767px) {
    .background-image-body {
        background-position: -30rem center;
    }

    .background-image-footer {
        background-size: 100% 101%;
    }

    p {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }

    h2 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .logo {
        width: 100%;
    }

    .container-body {
        height: 80vh;
    }

        .container-body .col-12 {
            display: flex;
            justify-content: center;
            padding-top: 1rem;
        }


    .container-footer {
        height: 20vh;
    }

        .container-footer .col-12 {
            padding-left: 1rem;
            padding-top: 4rem;
        }

        .container-footer p {
            font-size: 1.1rem;
        }
}
/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .background-image-body {
        background-position: -22rem center;
    }

    .background-image-footer {
        background-size: 100% 100%;
    }

    p {
        font-size: 1.25rem;
        line-height: 1.7rem;
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .logo {
        width: 70%;
    }

    .container-body .col-12 {
        padding-top: 10rem;
        padding-left: 1rem;
    }


    .container-footer .col-12 {
        padding-left: 2rem;
        padding-top: 11rem;
    }

        .container-footer .col-12 p {
            font-size: 1.5rem;
        }
}

/* landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* desktop */
@media only screen and (min-width: 1200px) and (max-width: 1599px) {
    p {
        font-size: 1.2rem;
        line-height: 1.7rem;
    }

    h2 {
        margin-bottom: 0.3rem;
    }

    .logo{
        width: 45%;
    }

    .container-body .col-12 {
        padding-top: 10rem;
    }

    .container-footer .col-12 {
        padding-top: 4rem;
    }
}

/* large desktop */
@media only screen and (min-device-width: 1600px) {
    .logo {
        width: 55%;
    }

    .container-body {
        height: 75vh;
    }

        .container-body .col-12 {
            margin-top: -20rem;
        }


    .container-footer {
        height: 25vh;
    }

        .container-footer .col-12 {
            padding-top: 7.5rem;
            padding-left: 4rem;
        }
    .gradient-black {
        background-image: linear-gradient(180deg, black, transparent);
        height: 30rem;
    }

    .gradient-blue {
        background-image: linear-gradient(0deg, #242e85bf, #242e8503);
    }
}
