@font-face {
    src: url(../fonts/Gilroy-Light.ttf);
    font-family: Gilroy Light;
}

div.container-fluid:not(#divMenuContainer, div.footer, div.compliance-security-body, div.compliance-security-tabs, div.back-to-homepage), div.carousel-item {
    min-height: 100vh;
    max-width: 100vw;
}

body {
    overflow-x: hidden !important;
    background: linear-gradient(180deg, rgba(25,24,26,1) 50%, rgba(24,24,23,1) 75%);
}

.otc-body, .compliance-security-body-up {
    background-color: #191919;
}

.row {
    min-height: inherit;
}

p, h1, h2, h3, h4, ul, li, label, a {
    font-style: normal;
    color: #ffffff;
    text-decoration-line: none;
}

h1, h2, h3, h4 {
    color: #69b9b9;
    line-height: 42px;
}

h1, .background-image-compliance-title h2 {
    font-family: 'Gilroy Light';
}

p {
    text-align: justify;
    line-height: 30px;
    margin-top: 30px;
    font-size: 21px;
}

img {
    max-width: 100%;
}

hr {
    height: 3px !important;
    background: linear-gradient(90deg, rgb(255 0 243), rgb(0 255 237));
}

.menu-mobile {
    display: none;
}

.menu-desktop {
    display: flex;
}

.navbar {
    background-image: url(../img/menu-background.jpg);
    background-size: auto;
    background-repeat: repeat-x;
    background-position: top;
}

    .navbar #divMenuContainer {
        padding: 0;
    }

    .navbar a {
        color: #ffffff;
        text-shadow: none;
        padding: 11px 15px;
    }

        .navbar a:hover {
            color: #ffffff;
            text-shadow: none;
            color: #ffffff;
        }

.navbar-right {
    display: flex;
}

.navbar-collapse {
    justify-content: end;
}

.dropdown-item {
    cursor: pointer;
}

    .dropdown-item:hover {
        color: #7FAAC3 !important;
        background-color: #0c0c0c !important;
    }

.navbar .dropdown-menu {
    background-color: #373737;
    border-radius: 7px;
    left: auto;
    right: 0;
    padding: 10% 0px;
    margin-right: -9px;
    padding-top: 9px;
    border: none;
}

    .navbar .dropdown-menu:after {
        position: absolute;
        right: 0;
        margin-left: -20px;
        top: -11px;
        width: 0;
        height: 0;
        content: '';
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #373737;
    }

.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.carrouselText {
    color: #ffffff
}

.text-position-left {
    padding-left: 112px;
    margin-top: auto;
    margin-bottom: auto;
}

.text-position-right {
    padding-right: 112px;
    margin-top: auto;
    margin-bottom: auto;
}

.carousel-item {
    padding: 260px 0 260px 0;
}

button {
    border-radius: 5px !important;
    padding: 2px 10px 2px 10px;
    color: #ffffff !important;
    background-color: #2C32B5 !important;
    border: none !important;
    box-shadow: 2px 2px 8px black !important;
    width: 175px;
    font-size: 20px !important;
    font-weight: bold;
}

    button:hover {
        background-color: #252bb3;
    }

.form-index form {
    background-color: #191818;
    box-shadow: 17px 23px 15px 10px black;
    padding: 3% 3%;
    margin: 0 30%;
}

.form-index p {
    margin-top: 0;
}

.form-index .form-control {
    color: #ffffff;
    background-color: #303030;
    border: 1px solid #8CEBE5;
}

    .form-index .form-control:focus {
        background-color: #303030;
    }

.form-index .btn {
    width: 100%;
    padding: 15px 0;
    background: linear-gradient(90deg, #63D7D0, #191818);
    box-shadow: none !important;
    margin-top: 25px;
    font-weight: bold;
    border-radius: 15px !important;
}

.mb-3 {
    margin-bottom: 2rem !important;
}

.footer {
    padding: 20px 100px;
    background-color: #292828;
}

    .footer p {
        font-size: 15px;
        margin: auto;
        line-height: 30px;
    }

    .footer img {
        width: 13%;
        margin-right: 25px;
    }

    .footer .links p {
        line-height: 40px;
    }

.text-about p {
    font-size: 18px;
}

.form-exchange {
    padding: 0px 100px;
    margin: 40px 0 40px 0;
}

    .form-exchange form {
        background-color: rgb(0,0,0, 0.6);
        border-radius: 40px;
        padding: 30px 25px;
    }

    .form-exchange button {
        background-color: transparent !important;
        box-shadow: none !important;
        padding: 0;
        border-radius: 20px !important;
        width: 30%;
        margin: 0 40px;
    }

        .form-exchange button:hover {
            background-color: #ffffff !important;
            color: #563596 !important;
        }

    .form-exchange nav.nav-tabs {
        padding-bottom: 15px;
        border: none;
    }

    .form-exchange div.nav-tabs {
        padding-bottom: 15px;
        width: 100%;
        justify-content: center;
    }

    .form-exchange .campo-direito {
        border-radius: 0 5px 5px 0;
        border: none;
    }

    .form-exchange .campo-esquerdo {
        padding: 4%;
        border-radius: 5px 0 0 5px;
        background-color: #563596;
        color: #ffffff;
        border: none;
    }

    .form-exchange p {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-shadow: none;
    }

    .form-exchange .border .form-select {
        width: 50%;
    }

    .form-exchange .border {
        display: flex;
        border: 2px solid #563596 !important;
        box-sizing: border-box;
        border-radius: 10px;
    }

    .form-exchange .send-button {
        margin: 30px 0 10px 0;
        background-color: #7FAAC3 !important;
        width: 100%;
        border-radius: 5px !important;
        padding: 10px 0px;
    }

    .form-exchange .text-bottom {
        line-height: 25px;
        text-align: center;
        margin: 0;
        font-size: 18px;
    }

.bold-color {
    background: linear-gradient(89.38deg, #563596 0%, #7FAAC3 100%);
}

.button-page {
    padding: 7px 10px 7px 10px;
    width: 50%;
    margin-top: 50px;
}

.button-buy button {
    width: 40%;
    padding: 6px 0px;
    color: #563596 !important;
    background-color: #ffffff !important;
}

.second-row .img-phone {
    display: none;
}

.second-row .img-desktop {
    display: flex;
}

.container-fluid.background-image {
    padding: 0px;
}

.img-download {
    padding-top: 30%;
}

.otc-page {
    margin: 15% 0%;
}

    .otc-page a {
        margin-top: 50px;
    }

/*CSS Loader*/
.loader {
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
}

svg path,
svg rect {
    fill: #FFFFFF;
}

div.loader-wrapper {
    display: none;
}

body.loading {
    overflow: hidden;
}

    body.loading div.loader-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(54, 54, 54, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
    }

.display-none-desk {
    display: none !important;
}

.nav-link-tab {
    background-color: transparent !important;
    padding: 2% 0%;
    box-shadow: none !important;
    color: #495057;
    font-weight: 100;
    font-size: 30px !important;
    border-bottom: 2px solid white !important;
    border-radius: 0 !important;
    width: 50%;
}

    .nav-link-tab:active, .nav-link-tab:focus, .nav-link-tab:hover {
        color: #C567A5 !important;
        border-bottom: 5px solid #C567A5 !important;
    }

.nav-tabs {
    border-bottom: none;
}

.tab-content .tab-content {
    margin: 5%;
}

table {
    color: white;
}

.compliance-title {
    padding: 7%;
}

.nav-item-tab {
    width: 100%;
    margin: 3% 0 0 5%;
}

    .nav-item-tab button {
        display: contents;
        font-size: 16px !important;
        font-weight: normal;
    }

    .nav-item-tab.selected button {
        color: #C567A5 !important;
        border-bottom: 5px solid #C567A5 !important;
    }

    .nav-item-tab.selected div.background-image-select {
        background-image: url(../img/xSelected.png);
    }

.compliance-security-text {
    overflow: auto;
    height: 1500px;
    padding: 2%;
    background-color: rgb(13, 13, 13, 0.9);
}

    .compliance-security-text h1, .compliance-security-text h2 {
        color: #ffffff;
    }

    .compliance-security-text h3 {
        color: #A9FDF7;
    }

    .compliance-security-text b {
        color: #63D7D0;
        font-weight: normal;
    }

    .compliance-security-text::-webkit-scrollbar {
        width: 20px;
    }

    .compliance-security-text::-webkit-scrollbar-thumb {
        background: linear-gradient(180deg, #D46ACF 30%, #A9FDF7 100%);
        border-radius: 10px;
    }

.background-image-select {
    background-image: url(../img/xNotSelected.png);
    padding: 30px;
    display: inline;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.nav-link-button:active, .nav-link-button:focus, .nav-link-button:hover, button.nav-link-tab.selected {
    color: #C567A5 !important;
    border-bottom: 5px solid #C567A5 !important;
}

.background-image-compliance-title {
    background-image: url(../img/compliance-security-title-div.png);
    background-size: 123% 65%;
    background-repeat: no-repeat;
    background-position: 70% 10%;
}

.back-to-homepage {
    margin: 0% 5% 5% 4%;
}

.redirect {
    background-color: transparent !important;
    box-shadow: none !important;
    text-decoration: underline;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    text-align: left;
}

    .redirect:hover {
        color: #35FFE7 !important;
    }

.vixiMenusign a {
    color: #b25c9f !important;
}

.background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.video-bg1 {
    height: 115vh;
}

.video-bg2 {
    height: 80vh;
    object-fit: contain;
    left: 25vw;
    top: 120vh;
}

.video-bg3 {
    width: 120vw;
    height: 150vh;
    top: 201vh;
}

.video-bg4 {
    width: 85vw;
    height: 88vh;
    object-fit: contain;
    left: 19vw;
    top: 371vh;
}

.help-center-image {
    background-position: center -80px;
}

.help-center-space {
    padding: 250px 0 300px 0;
}

.form-help-center .duvidas {
    min-height: 20vh;
}

.form-help-center form {
    margin-top: 70px !important;
    background-color: rgba(25, 24, 24, 0.7) !important
}

.help-center-space .text-position-left {
    padding-top: 150px !important;
}

@media only screen and (max-width: 599px) {
    /* celulares */

    body {
        background-color: #19181a;
    }

    p {
        font-size: 16px;
        margin-top: 5px;
    }

    h1 {
        margin-bottom: 5px;
        font-size: 31px;
    }

    hr {
        margin: 0;
    }

    .text-position-left, .col-md-6, .second-row {
        padding: 25px !important;
    }

    .menu-mobile {
        display: flex;
    }

    .menu-desktop {
        display: none;
    }

    .navbar button {
        width: 17%;
        box-shadow: none !important;
        background-color: transparent !important;
    }

    .navbar .nav-link {
        padding: 4% 8%;
    }

        .navbar .nav-link:hover, .navbar .nav-link:focus, .navbar .nav-link:active {
            color: #b25c9f !important;
            background-color: #C9C9C9 !important;
        }

    .navbar-right {
        background-color: #373737;
        margin: 0px -12px;
        display: block;
    }

    .menu-mobile .nav-link {
        font-size: 1.5rem;
    }

    ._currentLanguage .nav-link:hover, ._currentLanguage .nav-link .nav-link:focus, ._currentLanguage .nav-link .nav-link:active, .dropdown-menu {
        background-color: #262626 !important;
        color: #6aacac !important;
    }

    .dropdown-menu {
        margin-top: -1px !important;
        padding: 0 !important;
    }

    .dropdown-item {
        padding: 3% 19% !important;
        font-size: 1.5rem;
        color: #9f9f9f !important;
    }

    .vixiMenusign .nav-link {
        background-color: #C9C9C9 !important;
    }

    .navbar .dropdown-menu:after {
        display: none;
    }

    .footer {
        padding: 30px !important
    }

        .footer .float-end {
            float: none !important;
            padding-top: 15px;
        }

    .footer {
        padding: 15px;
    }

    button {
        margin: 10px;
    }

    .button-page {
        width: 70%;
    }

    .button-buy button {
        width: 60%;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }

        .wrapper .col-md-6:first-child {
            order: 1;
        }

    .row.text-about {
        padding: 0 !important;
    }

    #contact .row {
        padding: 0 !important;
    }

    .otc-background-image {
        background-size: 200% !important;
        background-position: 76% 97%;
    }

    .otc-page {
        padding: 20% 0% 50% 0%;
        margin: 10% 0% 0% 0%;
    }

        .otc-page hr {
            margin-bottom: 0%;
        }

        .otc-page h2 {
            line-height: 15px;
        }

        .otc-page .otc-text {
            margin-bottom: 35%;
        }

    .compliance-security-body {
        padding: 20% 0% 0% 0% !important;
    }

    .footer p {
        font-size: 20px;
        line-height: 30px !important;
    }

    .form-index form {
        background-color: #111111;
        box-shadow: none;
        margin: 0px 5%;
    }

    .form-index .col-md-6 {
        padding: 0px 9px !important;
    }

    .form-index .mb-3 {
        margin-bottom: 1rem !important;
    }

    .form-index .btn {
        border-radius: 30px !important;
        margin: 25px 0 0 0;
        width: 100%;
    }

    .display-none-cel {
        display: none !important;
    }

    .display-none-desk {
        display: flex !important;
    }

    .index-div-1 .col-md-6, .index-div-2 .col-md-6 {
        padding: 0% 28% 0% 7% !important;
    }

    .index-div-5 .col-md-6.text-position-left {
        padding: 0% 11% !important;
    }

    .index-div-3 {
        background-position: 35% 125% !important;
        background-size: 260% !important;
    }

    .index-div-1 {
        background-size: 350%;
        background-position: 65% 195%;
    }

    .footer img {
        width: 60%;
    }

    .footer .col-md-6 {
        padding: 20px 10px !important;
    }

    .compliance-security-body button {
        margin: 0px;
        font-size: 20px !important;
    }

    .compliance-security-body .nav-link-button {
        font-size: 14px !important;
    }


    .compliance-security-text h2 {
        font-size: 17px;
    }

    .compliance-security-text h3 {
        font-size: 15px;
    }

    .compliance-security-text p {
        font-size: 16px;
    }

    .compliance-security-text h1 {
        font-size: 20px
    }

    .background-image-compliance-title h2 {
        font-size: 18px;
    }

    .nav-link-button {
        background-color: transparent !important;
        box-shadow: none !important;
        text-align: inherit;
        width: 85%;
        display: inline !important;
        border-bottom: none;
    }

    .background-image-select {
        padding-top: 10px;
    }

    .back-to-homepage {
        margin: 10% 0 15% 0%;
    }

    .background-video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }

    .video-bg1 {
        width: 175vw;
        left: -75vw;
        top: 10vh;
    }

    .video-bg2 {
        width: 65vw;
        height: 45vh;
        left: 30vw;
        top: 130vh;
    }

    .video-bg3 {
        object-fit: contain;
        top: 200vh;
    }

    .video-bg4 {
        width: 170vw;
        height: 50vh;
        object-fit: contain;
        left: -70vw;
        top: 335vh;
    }

    .help-center-space {
        padding: 150px 0 150px 0 !important;
    }

        .help-center-space .text-position-left {
            padding-top: 80px !important;
        }

    .form-help-center .title {
        justify-content: space-around;
        text-align: center
    }

    .form-help-center h1{
        font-size: 40px;
    }

    .form-help-center hr {
        width: 88%;
        margin: auto
    }
}
/*Tablet*/
@media only screen and (min-width: 600px) and (max-width: 1023px) {

    body {
        background: #181817;
    }

    p {
        font-size: 30px;
        margin-top: 50px;
    }

    h1 {
        margin-bottom: 25px;
        font-size: 59px;
        line-height: 55px;
    }

    hr {
        margin: 0;
    }

    .col-md-6.text-position-left {
        padding: 25px !important;
        width: 70%;
    }

    .col-md-6.text-position-right {
        padding: 25px !important;
        width: 70%;
    }

    .col-md-6.space {
        width: 30%;
    }

    .form-label {
        font-size: 30px !important;
        margin: 15px 0px 0px 0px;
    }

    .redirect {
        background-color: transparent !important;
        box-shadow: none !important;
        text-decoration: underline;
        white-space: nowrap;
        padding: 0;
        margin: 0;
        margin-top: 80px;
        text-align: left;
        font-size: 35px !important;
    }

    .menu-mobile {
        display: flex;
    }

    .menu-desktop {
        display: none;
    }

    .navbar a {
        font-size: 35px;
    }

    .navbar button {
        width: 17%;
        box-shadow: none !important;
        background-color: transparent !important;
    }

    .navbar .nav-link {
        padding-left: 5%;
        font-size: 40px !important;
        color: white !important;
    }

    .navbar .dropdown-menu {
        background-color: #373737;
        border-radius: 7px;
        left: auto;
        right: 0;
        padding: 0% 26px;
        margin-right: -9px;
        padding-top: 9px;
        border: none;
        font-size: 41px;
    }

    .navbar .nav-link:hover, .navbar .nav-link:focus, .navbar .nav-link:active {
        color: #b25c9f !important;
        background-color: #C9C9C9 !important;
    }

    .navbar-right {
        background-color: #373737;
        margin: 0px -12px;
        display: block;
    }

    .footer {
        padding: 30px !important
    }

        .footer .float-end {
            float: none !important;
            padding-top: 15px;
        }

    .footer {
        padding: 15px;
    }

    .button {
        margin: 10px;
    }

    .button-page {
        width: 70%;
    }

    .button-buy button {
        width: 60%;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }

        .wrapper .col-md-6:first-child {
            order: 1;
        }

    .row.text-about {
        padding: 0 !important;
    }

    #contact .row {
        padding: 0 !important;
    }

    .otc-background-image {
        background-size: 200% !important;
        background-position: 70% 70%;
    }

    .otc-page {
        padding-bottom: 50%;
        margin: 15% 0% 0% 0%;
    }

        .otc-page hr {
            margin-bottom: 0%;
        }

        .otc-page h2 {
            margin-bottom: 25px;
            font-size: 64px;
            line-height: 55px;
        }

        .otc-page .otc-text {
            margin-bottom: 15%;
        }

        .otc-page .col-md-6.text-position-left {
            width: 80%;
        }

    .footer p {
        font-size: 27px;
        line-height: 60px !important;
    }

    .form-index form {
        background-color: #111111;
        box-shadow: none;
        margin: 0px 5%;
    }

    .form-index .form-control {
        font-size: 30px !important;
    }

    .form-control {
        display: block;
        width: 100%;
        padding: 1.375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .form-index .col-md-6 {
        padding: 0px 9px !important;
    }

    .form-index .mb-3 {
        margin-bottom: 1rem !important;
    }

    .form-index .btn {
        border-radius: 30px !important;
        margin: 40px 0 0 0;
        width: 100%;
        font-size: 45px !important;
        padding: 35px !important;
    }

    .display-none-cel {
        display: none !important;
    }

    .display-none-desk {
        display: flex !important;
    }

    .display-none-tablet {
        display: none;
    }

    .index-div-1 .col-md-6, .index-div-2 .col-md-6, .index-div-4 .col-md-6, .col-md-6.text-position-left.otc-div-1 {
        padding: 0% 0% 0% 9% !important;
    }

    .index-div-3 .col-md-6 {
        padding: 0% 8% 0% 0% !important;
    }

    .index-div-5 .col-md-6.text-position-left {
        padding: 0% 9% !important;
    }

    .index-div-3 {
        background-position: 45% 0% !important;
        background-size: 160% !important;
    }

    .index-div-1 {
        background-size: 170%;
        background-position: 80% 60%;
    }

    .footer img {
        width: 100%;
        padding: 40px 40px;
    }

    .footer .space {
        font-size: 19px !important;
    }

    .footer .col-md-6 {
        padding: 20px 10px !important;
    }

        .footer .col-md-6.links {
            padding: 0px 0px 0px 70px !important;
        }


    .compliance-security-body button {
        margin: 0px;
        font-size: 30px !important;
    }

    .compliance-security-body .nav-link-button {
        font-size: 25px !important;
    }


    .compliance-security-text h2 {
        font-size: 17px;
    }

    .compliance-security-text h3 {
        font-size: 15px;
    }

    .compliance-security-text p {
        font-size: 16px;
    }

    .compliance-security-text h1 {
        font-size: 20px
    }

    .background-image-compliance-title h2 {
        font-size: 27px;
    }

    .nav-link-button {
        background-color: transparent !important;
        box-shadow: none !important;
        text-align: inherit;
        width: 85%;
        display: inline !important;
        border-bottom: none;
    }

    .background-image-select {
        padding-top: 10px;
    }

    .back-to-homepage {
        margin: 10% 0 15% 4%;
    }

    .background-video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }

    .video-bg1 {
        object-fit: contain;
    }

    .video-bg2 {
        width: 40vw;
        height: 40vh;
        object-fit: contain;
        left: 50vw;
        top: 135vh;
    }

    .video-bg3 {
        object-fit: contain;
        top: 200vh;
    }

    .video-bg4 {
        width: 135vw;
        object-fit: contain;
        left: -35vw;
        top: 320vh;
    }

    .form-help-center form {
        margin-top: 30px !important;
        background-color: rgba(25, 24, 24, 0.7) !important
    }

    .help-center-space {
        padding: 150px 0 150px 0 !important;
    }

        .help-center-space .text-position-left {
            padding-top: 80px !important;
        }

    .form-help-center .col-md-6.text-position-left{
        width: 80%;
    }

    .form-help-center .title {
        justify-content: space-around;
        text-align: center
    }

    .form-help-center h1 {
        font-size: 70px;
    }

    .form-help-center hr {
        width: 100%;
        margin: auto
    }

    .form-help-center p {
        line-height: 50px;
    }
}

@media only screen and (min-width: 1200px) {
    p {
        font-size: 25px;
        margin-top: 5px;
    }

    .navbar-right {
        background-color: transparent;
        margin: 0px -12px;
        display: flex;
    }

    .navbar-nav {
        padding: 0rem 1.5rem;
    }
}

@media only screen and (min-width: 1800px) {
    p {
        font-size: 35px;
        margin-top: 25px;
        line-height: 45px;
    }

    h1 {
        font-size: 65px;
        line-height: 60px;
    }

    .nav-link {
        font-size: 1.5rem;
    }

    .navbar-nav {
        padding: 0rem 1.5rem;
    }
}
