.footer {
    position: relative;
    display: flex;
    margin-top: 11rem;
}

.footer__info {
    width: 100%;
    align-self: center;
}

.footer__line {
    border-bottom: 1px solid #fff;
}

.footer__documents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.footer__copyrigth {
    text-align: center;
    margin-top: 1rem;
}

.footer__image {
    position: absolute;
    z-index: -999;
}

@media only screen and (max-width: 600px) {
    .footer {
        min-height: 30vh;
    }

    .footer__info {
        margin: 0rem 1rem;
        width: 100%;
        align-self: center;
    }

    .footer__image {
        right: -33vw;
        top: 45px;
    }

    .footer__image img{
        width: 40%;
    }
    
}

@media only screen and (min-width: 601px) {
    .footer {
        min-height: 53vh;
    }

    .footer__info {
        margin: 0rem 10rem;
    }

    .footer__image {
        right: 3vw;
        top: 0px;
    }

    .footer__image img{
        width: initial;
    }
    
}