.footer {
    position: relative;
    display: flex;
    min-height: 53vh;
    margin-top: 11rem;
}

.footer__info {
    margin: 0rem 10rem;
    width: 100%;
    align-self: center;
}

.footer__line {
    border-bottom: 1px solid #fff;
}

.footer__documents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.footer__copyrigth {
    text-align: center;
    margin-top: 1rem;
}

.footer__image {
    position: absolute;
    right: 3vw;
    top: 0px;
    z-index: -999;
}