:root{
    overflow-x: hidden !important;
}

body {
    background-color: #1E1E1E;
    color: #fff;
    overflow-x: hidden !important;
}

.new-article{
    padding-top: 9rem;
}

.title{
    padding: 0rem 10rem;
}