.login{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../img/background-login.jpg");
    background-size: 100% 100%;
}

.login__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__logo{
    width: 70%;
}

.pins__input{
    width:100%;
    margin: .5rem 0;
    background-color: #242424;
}

.login__title{
    margin: 3rem 0;
}

.login__link{
    width: 100%;
    color: #9440D6;
}

.login__link:hover{
    color: #7332a5;
}