.topics {
    padding: 0 8rem;
    margin-top: 5rem;
}

.topics__itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics__item {
    padding: 3rem 8rem;
    margin: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.topics__item p {
    text-shadow: 0px 4px 6px #000;
    margin: 0;
}

.topics__title {
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.topics__banner {
    background-image: url(../../img/topics-banner.png);
    height: 85vh;
    display: flex;
    align-items: flex-end;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.topics__h1 {
    width: 46%;
    margin-top: 1rem;
    margin-bottom: 5rem;
    margin-left: 6rem;

}

.topics__h1 h1 {
    font-size: 5rem;
}